.main{
    background-image:url("img/bg.jpg");
     /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: ; */
}

.bio{
    padding-left: 50%;
    padding-top: 2%;
}
h1{
    color:#00008B;
    padding = 15px;
}
ol li{
    display: inline-block;
    padding: 1.5%;
   }